<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <p>Current {{user}}User login with ID: {{id}} on {{title}}</p>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
<body>

<div class="container">
    <table class="table">
  
    <tbody>
      <tr class="success">
   
        <td><a href="/users/createuser">Create user</a></td>
        <td>To add new User</td>
      </tr>
      <tr class="danger">
       
        <td><a href="/users/createuser">Admin Tools</a></td>
        <td>To trobleshoot the Application</td>
      </tr>
      <tr class="info">
       
        <td><a href="/users/createuser">Release Notes</a></td>
        <td>To find the release notes and versions</td>
      </tr>
    </tbody>
  </table>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

